<header>
    <h1>
        Ads - {{ pageTitle }}
    </h1>
</header>
<div id="wrapper">
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'template/public/left-sidebar.html'" ng-if="!isLogged"></div>
            <div ng-include="'template/public/logged-sidebar.html'" ng-if="isLogged"></div>
        </div>
        <div class="col-md-8">
            <public-add><public-add>
        </div>
        <div class="col-md-2">
            <categories></categories>
            <towns></towns>
        </div>
    </div>
</div>